<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
  Them phong kham: <br>
  <form action="/phong-kham2/add" method="post">
    Ten: <input type="text" name="ten"> <br>
    Dia chi: <input type="text" name="diaChi"> <br>
    <button>Submit</button>
  </form>
  Bang thong tin:
  <table>
    <thead>
    <tr>
      <th>Id</th>
      <th>Ten</th>
      <th>Dia chi</th>
      <th>Hanh dong</th>
    </tr>
    </thead>
    <tbody>
    <th:block th:each="phongKham : ${danhSach}">
      <tr>
        <td th:text="${phongKham.id}"></td>
        <td th:text="${phongKham.ten}"></td>
        <td th:text="${phongKham.diaChi}"></td>
        <td>
          <a th:href="@{|/phong-kham2/detail/${phongKham.id}|}">Detail</a>
          <a th:href="@{|/phong-kham2/delete?id=${phongKham.id}|}">Delete</a>
          <a th:href="@{|/phong-kham2/view-update/${phongKham.id}|}">View update</a>
        </td>
      </tr>
    </th:block>
    </tbody>
  </table>
</body>
</html>