<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    Sua sinh vien:
    <form action="/sinh-vien/update" method="post">
        Id: <input type="text" name="id" th:value="${sinhVien.id}"> <br>
        Ten: <input type="text" name="ten" th:value="${sinhVien.ten}"> <br>
        Tuoi: <input type="text" name="tuoi" th:value="${sinhVien.tuoi}"> <br>
        Gioi tinh:
        Nam <input type="radio" name="gioiTinh" value="true" th:checked="${sinhVien.gioiTinh == true}">
        Nu <input type="radio" name="gioiTinh" value="false" th:checked="${sinhVien.gioiTinh == false}">
        <br>
        <button>Submit</button>
    </form>
</body>
</html>