<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    Them bac si: <br>
    <form th:object="${bacSi}" action="/bac-si/add" method="post">
        Ten: <input type="text" th:field="*{ten}">
            <span style="color: red" th:errors="*{ten}"></span>
        <br>
        Luong: <input type="text" th:field="*{luong}">
            <span style="color: red" th:errors="*{luong}"></span>
        <br>
        Gioi tinh:
            Nam <input type="radio" name="gioiTinh" value="false" th:field="*{gioiTinh}">
            Nu <input type="radio" name="gioiTinh" value="true" th:field="*{gioiTinh}">
            <span style="color: red" th:errors="*{gioiTinh}"></span>
        <br>
        Phong Kham:
            <select name="phongKham">
                <option value="">Vui long chon phong kham</option>
                <option th:each="phongKham : ${listPhongKham}"
                        th:value="${phongKham.id}" th:text="${phongKham.ten}">
                </option>
            </select>
            <span style="color: red" th:errors="*{phongKham}"></span>
        <br>
        <button>Submit</button>
    </form>
Bang thong tin:
<table>
    <thead>
    <tr>
        <th>Id</th>
        <th>Ten</th>
        <th>Luong</th>
        <th>Gioi Tinh</th>
        <th>Phong Kham</th>
        <th>Hanh dong</th>
    </tr>
    </thead>
    <tbody>
    <th:block th:each="bacSi : ${listBacSi}">
        <tr>
            <td th:text="${bacSi.id}"></td>
            <td th:text="${bacSi.ten}"></td>
            <td th:text="${bacSi.luong}"></td>
            <td th:text="${bacSi.gioiTinh ? 'Nu' : 'Nam'}"></td>
            <td th:text="${bacSi.phongKham.ten}"></td>
            <td>
                <a th:href="@{|/bac-si/detail/${bacSi.id}|}">Detail</a>
                <a th:href="@{|/bac-si/delete?id=${bacSi.id}|}">Delete</a>
                <a th:href="@{|/bac-si/view-update/${bacSi.id}|}">View update</a>
            </td>
        </tr>
    </th:block>
    </tbody>
</table>
</body>
</html>