<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    Tim kiem bac si:
    <form action="/bac-si/tim-kiem-theo-ten">
        Ten: <input type="text" name="ten"> <br>
        <button>Search</button>
    </form>
    Them bac si:
    <form th:object="${bacSi}" action="/bac-si/add" method="post">
        Ten: <input type="text" th:field="*{ten}">
        <span style="color: red" th:errors="*{ten}"></span>
        <br>
        Luong: <input type="text" th:field="*{luong}">
        <span style="color: red" th:errors="*{luong}"></span>
        <br>
        Gioi tinh:
            Nam: <input type="radio" th:field="*{gioiTinh}" value="false">
            Nu: <input type="radio" th:field="*{gioiTinh}" value="true">
        <span style="color: red" th:errors="*{gioiTinh}"></span>
        <br>
        Phong kham:
        <select name="phongKham">
            <option value="">Vui long chon phong kham</option>
            <option th:each="phongKham : ${listPhongKham}"
                    th:value="${phongKham.id}"
                    th:text="${phongKham.ten}"
            ></option>
        </select>
        <span style="color: red" th:errors="*{phongKham}"></span>
        <br>
        <button>Submit</button>
    </form>
    <br>
    Thong tin bang:
    <table>
        <thead>
        <tr>
            <th>Id</th>
            <th>Ten</th>
            <th>Luong</th>
            <th>Gioi tinh</th>
            <th>Phong kham</th>
            <th colspan="3">Hanh Dong</th>
        </tr>
        </thead>
        <tbody>
        <th:block th:each="bacSi : ${listBacSi}">
            <tr>
                <td th:text="${bacSi.id}"></td>
                <td th:text="${bacSi.ten}"></td>
                <td th:text="${bacSi.luong}"></td>
                <td th:text="${bacSi.gioiTinh ? 'Nu' : 'Nam'}"></td>
                <td th:text="${bacSi.phongKham.ten}"></td>
                <td>
                    <a th:href="@{|/bac-si/detail/${bacSi.id}|}">Detail</a>
                    <a th:href="@{|/bac-si/delete?id=${bacSi.id}|}">Delete</a>
                    <a th:href="@{|/bac-si/view-update/${bacSi.id}|}">Update</a>
                </td>
            </tr>
        </th:block>
        </tbody>
    </table>
</body>
</html>